/********** Base styles **********/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	text-align: center;
	margin: 20px;
}
section.MenuItem {
	margin: 10px;
	border: 4px solid black;
	background-color: #858585;

}
div > h2 {
	text-align: center;
	float: right;
	padding: 2px 30px;
	border: 3px solid black;
	border-top: 0px;
	border-right: 0px;
}
#Chicken {
	background-color: #FAD8D6;
}
#Beef {
	background-color: #E64037;
}
#Sushi {
	background-color: #E3944F;
}
p {
	clear: both;
	padding: 20px;
	font-weight: 600;
}


/********** Desktop view **********/
@media (min-width: 992px){
section.MenuItem {
	width: 30%;
	float: left;
}
section.Chicken {
	margin-left: 3%;
}
}


/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
 section.Sushi {
 	margin-top: 20px;
 }
 section.Beef, section.Chicken {
 	width: 48%;

 }
 section.Beef {
 	position: absolute;
 	top: 9.5%;
 	left: 50%;
 }
}


/********** Mobile view **********/
@media (max-width: 767px) {
 	section.MenuItem {
 		margin-bottom: 20px;
 		clear: both;
 	}
} 